/*Base Styles*/
/* Fonts */
@font-face {
    font-family: "Segoe";
    src: url(../fonts/segoe-ui-regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Segoe";
    src: url(../fonts/segoe-ui-bold.ttf) format("truetype");
    font-weight: 700;
}
/* Variable */
:root {
    --background-color: #fafafa;
    --white: #ffffff;
    --border-color: 112, 112, 112;
    --placeholder-color: #837979;
    --or-text: #8e8e8e;
    --fb-logo: #385185;
    --log-in-button: #0095f6;
    --black: #262626;
    --footer-links: #1e4f7c;
    --copyright-gray: #bfbfbf;
}
/* Overwrite browser defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 400;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Segoe";
    background: var(--background-color)
}

/* LOG IN */
/* Log in container*/
.log-in{
    background: var(--white);
    width: 35rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid rgba(var(--border-color), 0.5);
    padding: 1.5rem 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/*Logo*/
.logo{
    width: 19rem;
    margin-bottom: 1rem;
}

/* Log in form */
.log-in-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Styles in common for the form fields and the login button */
.log-in-form input,
.log-in-button {
    padding: 1rem 0 1rem 1rem;
    border-radius: 0.5rem;
}

/* Styles in common for the form fields and their placeholder */
.log-in-form input,
.log-in-form::placeholder{
    font-size: 1.1rem;
    font-family: "Sagoe";
}

/* Form Fields */
.log-in-form input{
    background: var(--background-color);
    border: 0.1rem solid rgba(var(--border-color), 0.5);
    outline: none;
}

/* Styles for the username text field */
.log-in-form input[type="text"]{
    margin-bottom: 0.5rem;
}

/* Placeholder for the text fields */
.log-in-form input::placeholder{
    color: var(--placeholder-color);
}

/* Styles for the text fields when they are focused */
.log-in-form:focus{
    border-color: rgba(var(--border-color), 0.8)
}

/* Log in button */
.log-in-button{
    background: var(--log-in-button);
    color: var(--white);
    margin: 2rem 0;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
}

/* OR divider */
.or-divider{
    color: var(--or-text);
    font-weight: 700;
    position: relative;
    font-size: 1.2rem;
}